$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower

@font-face {
	font-family: "RockSalt";
	src: url("../fonts/RockSalt.ttf");
}

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

body {
	padding: 0;
	margin: 0;
}

html, body, #map {
	height: 100%;
}

.locationLink {
	margin: 2em 1em 0;
}
.locationLink a {
	word-break: break-all;
}

/* Powered by http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-centered-columns */
/* centered columns styles */
.row-centered {
	text-align:center;
}
.col-centered {
	display:inline-block;
	float:none;
	/* reset the text-align */
	text-align:left;
	/* inline-block space fix */
	margin-right:-4px;
}


/* Custom page header */
.header {
	border-bottom: 1px solid #e5e5e5;
}

/* GUI Layers controls and map */

#mapControls {
	z-index: 9999;
	position:absolute;
	display: block;
  	margin-left: auto;
 	margin-right: auto;
 	padding: 0 20%;
 	vertical-align: top;
}

#mapControls h1 {
	font-family: "RockSalt";
}

#map {
	z-index: 42;
	height: 100%;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
	.container {
		max-width: 730px;
	}
}

